<style>
h1 
      {
         color : red   
        Border_bottom: solid 2px;
        font-family: arial;
      }
    
      p 
      {
        color:blue;
        text-align : right;
      }

body { 
      background-color : green; 
}
</style>

